
@font-face {
  font-family: 'Akrobat';
  src: url('Akrobat-Bold.eot?#iefix') format('embedded-opentype'),  url('Akrobat-Bold.otf')  format('opentype'),
	     url('Akrobat-Bold.woff') format('woff'), url('Akrobat-Bold.ttf')  format('truetype'), url('Akrobat-Bold.svg#Akrobat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
